<div id="content-block">
  <div class="fixed-background" style="background-image: url(/img/background-4.jpg);">
    <div class="banner-shortcode">
      <div class="banner-frame border-image" style="border-image-source: url(/img/background-4_.jpg);"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="align">
              <h1 class="h1 light">Explore what we can offer for you</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="empty-space col-xs-b60 col-sm-b120"></div>
      <div class="row">
        <div class="col-md-12 text-center">
          <article class="sa">
            <h3>Our services</h3>
            <p>Et harum quidem rerum facilis est et expedita distinctio.</p>
          </article>
          <div class="empty-space col-xs-b25 col-sm-b50"></div>
        </div>
      </div>
      <div class="empty-space col-xs-b45 col-sm-b90"></div>
      <div class="services-shortcode-1">
        <div class="preview-wrapper">
          <div class="icon"></div>
          <div class="icon"></div>
          <div class="icon"></div>
          <div class="icon"></div>
          <div class="preview">
            <span class="text-mask" style="background-image: url(/img/thumbnail-67.jpg);"><span class="text"><span class="text-align" data-letter="K"></span></span></span>
          </div>
        </div>
        <div class="content">
          <div class="align">
            <div class="sl">Design / Web Design</div>
            <div class="sa">
              <h4 class="h4 title">Creative ideas and new trends</h4>
              <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab ill inventore veritatis et quasi architecto beatae vita dicta sunt, explicabo.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="services-shortcode-1 style-1">
        <div class="preview-wrapper">
          <div class="icon"></div>
          <div class="icon"></div>
          <div class="icon"></div>
          <div class="icon"></div>
          <div class="preview">
            <span class="text-mask" style="background-image: url(/img/thumbnail-67.jpg);"><span class="text"><span class="text-align" data-letter="S"></span></span></span>
          </div>
        </div>
        <div class="content">
          <div class="align">
            <div class="sl">Design / Branding</div>
            <div class="sa">
              <h4 class="h4 title">Marketing and modern brands</h4>
              <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab ill inventore veritatis et quasi architecto beatae vita dicta sunt, explicabo.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="services-shortcode-1">
        <div class="preview-wrapper">
          <div class="icon"></div>
          <div class="icon"></div>
          <div class="icon"></div>
          <div class="icon"></div>
          <div class="preview">
            <span class="text-mask" style="background-image: url(/img/thumbnail-68.jpg);"><span class="text"><span class="text-align" data-letter="P"></span></span></span>
          </div>
        </div>
        <div class="content">
          <div class="align">
            <div class="sl">Graphic design / Illustration </div>
            <div class="sa">
              <h4 class="h4 title">Unite of Graphic and Design</h4>
              <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab ill inventore veritatis et quasi architecto beatae vita dicta sunt, explicabo.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <article class="sa">
            <h3>What we can offer</h3>
            <p>Nemo enim ipsam voluptatem, quia voluptas sit</p>
          </article>
          <div class="empty-space col-xs-b25 col-sm-b50"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="services-shortcode-2">
            <div class="icon"><img src="/img/icon-2.png" alt="" /></div>
            <div class="sl">Design / Branding</div>
            <div class="content">
              <div class="sa middle">
                <h6>Development process</h6>
                <p>Lorem ipsum dolor sit amet, amit consecte tur adipiscing elit, sed do eiusmod tempor incididunt ut sit labore et dolore magna.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="services-shortcode-2">
            <div class="icon"><img src="/img/icon-3.png" alt="" /></div>
            <div class="sl">Design / Branding</div>
            <div class="content">
              <div class="sa middle">
                <h6>Development process</h6>
                <p>Lorem ipsum dolor sit amet, amit consecte tur adipiscing elit, sed do eiusmod tempor incididunt ut sit labore et dolore magna.</p>
              </div>
            </div>
          </div>
        </div>
          <div class="col-sm-4">
            <div class="services-shortcode-2">
              <div class="icon"><img src="/img/icon-4.png" alt="" /></div>
              <div class="sl">Design / Branding</div>
              <div class="content">
                <div class="sa middle">
                  <h6>Development process</h6>
                  <p>Lorem ipsum dolor sit amet, amit consecte tur adipiscing elit, sed do eiusmod tempor incididunt ut sit labore et dolore magna.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    <div class="empty-space col-xs-b45 col-sm-b90"></div>
  </div>
</div>
