<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-xs-text-center col-md-text-left">
        <div class="copyright sa small">&copy; 2018 All rights reserved.</div>
        <div class="col-xs-b15 visible-xs visible-sm"></div>
      </div>
      <div class="col-md-6 col-xs-text-center col-md-text-right">
        <div class="follow style-1">
          <a class="entry" href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
          <a class="entry" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
          <a class="entry" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
          <a class="entry" href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
