<header class="type-3">
  <div class="header-wrapper">
    <a id="logo" href="/"><img src="/img/logo.png" alt="" /></a>
  <div class="hamburger-icon">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="follow style-1">
    <a class="entry" href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
    <a class="entry" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
    <a class="entry" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
    <a class="entry" href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
  </div>
</div>
  <div class="navigation-wrapper">
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/albums">Albums</a></li>
        <li><a href="/about_us">About Me</a></li>
        <li><a href="/contacts">Contact Me</a></li>
      </ul>
    </nav>
  </div>
</header>
