
    <div id="content-block">

        <div class="container-fluid">

            <div class="empty-space col-xs-b40 col-sm-b80"></div>

            <div class="row">
                <div class="col-md-6 col-md-offset-1">
                    <article class="sa">
                        <h3>Our creative minds can make your brand to breath again or to start a new life.</h3>
                        <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi. </p>
                    </article>
                    <div class="empty-space col-xs-b25 col-sm-b50"></div>
                </div>
                <div class="col-md-11 col-md-offset-1">
                    <div class="sorting-menu">
                        <div class="title">All</div>
                        <div class="toggle">
                            <a class="active" data-filter="*"><span class="text">All</span><span class="number">184</span></a>
                            <a data-filter=".filter-1"><span class="text">Branding</span><span class="number">34</span></a>
                            <a data-filter=".filter-2"><span class="text">Typography</span><span class="number">25</span></a>
                            <a data-filter=".filter-3"><span class="text">Logo</span><span class="number">18</span></a>
                            <a data-filter=".filter-4"><span class="text">Marketing</span><span class="number">40</span></a>
                            <a data-filter=".filter-5"><span class="text">Graphic Design</span><span class="number">67</span></a>
                        </div>
                    </div>
                    <div class="empty-space col-xs-b25 col-sm-b50"></div>
                </div>
            </div>


            <div class="sorting-container portfolio-1">
                <div class="grid-sizer w25"></div>
                <div class="sorting-item w50 filter-1">
                    <div class="portfolio-preview-1">
                        <a href="/img/thumbnail-1.jpg" class="lightbox">
                            <img class="preview" src="/img/thumbnail-1.jpg" alt="" />
                            <span class="valign-middle portfolio-hover-1">
                                <span class="valign-middle-content">
                                    <span class="title h3">Project title</span>
                                    <span class="description sa dark small">Branding / Typography</span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="sorting-item w25 filter-2">
                    <div class="portfolio-preview-1">
                        <a href="/img/thumbnail-2.jpg" class="lightbox">
                            <img class="preview" src="/img/thumbnail-2.jpg" alt="" />
                            <span class="valign-middle portfolio-hover-1">
                                <span class="valign-middle-content">
                                    <span class="title h4">Project title</span>
                                    <span class="description sa dark small">Branding / Typography</span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="sorting-item w25 filter-3">
                    <div class="portfolio-preview-1">
                        <a href="/img/thumbnail-3.jpg" class="lightbox">
                            <img class="preview" src="/img/thumbnail-3.jpg" alt="" />
                            <span class="valign-middle portfolio-hover-1">
                                <span class="valign-middle-content">
                                    <span class="title h4">Project title</span>
                                    <span class="description sa dark small">Branding / Typography</span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="sorting-item w50 filter-4">
                    <div class="portfolio-preview-1">
                        <a href="/img/thumbnail-4.jpg" class="lightbox">
                            <img class="preview" src="/img/thumbnail-4.jpg" alt="" />
                            <span class="valign-middle portfolio-hover-1">
                                <span class="valign-middle-content">
                                    <span class="title h3">Project title</span>
                                    <span class="description sa dark small">Branding / Typography</span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="sorting-item w25 filter-5">
                    <div class="portfolio-preview-1">
                        <a href="/img/thumbnail-5.jpg" class="lightbox">
                            <img class="preview" src="/img/thumbnail-5.jpg" alt="" />
                            <span class="valign-middle portfolio-hover-1">
                                <span class="valign-middle-content">
                                    <span class="title h4">Project title</span>
                                    <span class="description sa dark small">Branding / Typography</span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="sorting-item w25 filter-1">
                    <div class="portfolio-preview-1">
                        <a href="/img/thumbnail-6.jpg" class="lightbox">
                            <img class="preview" src="/img/thumbnail-6.jpg" alt="" />
                            <span class="valign-middle portfolio-hover-1">
                                <span class="valign-middle-content">
                                    <span class="title h4">Project title</span>
                                    <span class="description sa dark small">Branding / Typography</span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="sorting-item w50 filter-2">
                    <div class="portfolio-preview-1">
                        <a href="/img/thumbnail-9.jpg" class="lightbox">
                            <img class="preview" src="/img/thumbnail-9.jpg" alt="" />
                            <span class="valign-middle portfolio-hover-1">
                                <span class="valign-middle-content">
                                    <span class="title h3">Project title</span>
                                    <span class="description sa dark small">Branding / Typography</span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="sorting-item w25 filter-3">
                    <div class="portfolio-preview-1">
                        <a href="/img/thumbnail-7.jpg" class="lightbox">
                            <img class="preview" src="/img/thumbnail-7.jpg" alt="" />
                            <span class="valign-middle portfolio-hover-1">
                                <span class="valign-middle-content">
                                    <span class="title h4">Project title</span>
                                    <span class="description sa dark small">Branding / Typography</span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="sorting-item w25 filter-4">
                    <div class="portfolio-preview-1">
                        <a href="/img/thumbnail-8.jpg" class="lightbox">
                            <img class="preview" src="/img/thumbnail-8.jpg" alt="" />
                            <span class="valign-middle portfolio-hover-1">
                                <span class="valign-middle-content">
                                    <span class="title h4">Project title</span>
                                    <span class="description sa dark small">Branding / Typography</span>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <!-- FOOTER -->

    </div>
