
    <div id="content-block">

        <div class="container-fluid wide">
            <div class="row">
                <div class="col-md-6 col-lg-4 col-lg-offset-1">
                    <div class="cell-view full-screen-height text-center">
                        <div class="empty-space col-xs-b30"></div>
                        <article class="sa">
                            <h3>Contact Us</h3>
                            <p>Et harum quidem rerum facilis est et expedita distinctio.</p>
                        </article>
                        <div class="empty-space col-xs-b25 col-sm-b50"></div>
                        <div class="sa col-xs-b10">
                            <b>Tel.:</b> <a href="tel:+6264604061">+626 460 4061</a><br/>
                        </div>
                        <div class="sa col-xs-b10">
                            <b>Adress:</b> 350 West Erie Street<br/>
                        </div>
                        <div class="sa col-xs-b10">
                            <b>Email:</b> <a href="mailto:hello@tdhcreative.com">hello@tdhcreative.com</a>
                        </div>
                        <div class="empty-space col-xs-b30"></div>
                        <div class="follow style-1">
                            <a class="entry" href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a class="entry" href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                            <a class="entry" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a class="entry" href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i></a>
                        </div>
                        <div class="empty-space col-xs-b25 col-sm-b50"></div>
                        <form class="contact-form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="simple-input-wrapper">
                                        <input class="simple-input" value="" type="text" placeholder="Name" name="name" />
                                        <span></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="simple-input-wrapper">
                                        <input class="simple-input" value="" type="text" placeholder="Email" name="email" />
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="simple-input-wrapper">
                                <input class="simple-input" value="" type="text" placeholder="Subject" name="subject" />
                                <span></span>
                            </div>
                            <div class="simple-input-wrapper">
                                <textarea class="simple-input" placeholder="Type your text" name="message"></textarea>
                                <span></span>
                            </div>
                            <div class="empty-space col-xs-b10"></div>
                            <div class="button">submit<input type="submit"/></div>
                        </form>
                        <div class="empty-space col-xs-b30"></div>
                    </div>
                </div>
            </div>
            <div id="map-canvas" class="style-1" data-lat="34.0151244" data-lng="-118.4729871" data-zoom="14"></div>
            <div class="addresses-block hidden">
                <a class="marker" data-lat="34.0151244" data-lng="-118.4729871" data-string="1. Here is some address or email or phone or something else..."></a>
            </div>
        </div>

    </div>
