<div id="content-block">

        <div class="container-fluid">

            <div class="empty-space col-xs-b40 col-sm-b80"></div>

            <%= react_component("PortfolioTitle", {title: "Portolio"}) %>
            <%= react_component("PortfolioTitle", {paragraph: "Sed ut "}) %>

            <div class="empty-space col-xs-b40 col-sm-b80"></div>

            <div class="row portfolio-5">
                <div class="col-sm-4">
                    <div class="portfolio-preview-5">
                        <a class="preview mouseover-1 lightbox" href="/img/thumbnail-82.jpg">
                            <img src="/img/thumbnail-82.jpg" alt="" />
                            <img src="/img/thumbnail-82.jpg" alt="" />
                        </a>
                        <div class="h6 title"><span class="ht-2"><a href="#">Great colours of  wild wind</a></span></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="portfolio-preview-5">
                        <a class="preview mouseover-1 lightbox" href="/img/thumbnail-83.jpg">
                            <img src="/img/thumbnail-83.jpg" alt="" />
                            <img src="/img/thumbnail-83.jpg" alt="" />
                        </a>
                        <div class="h6 title"><span class="ht-2"><a href="#">Great colours of  wild wind</a></span></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="portfolio-preview-5">
                        <a class="preview mouseover-1 lightbox" href="/img/thumbnail-84.jpg">
                            <img src="/img/thumbnail-84.jpg" alt="" />
                            <img src="/img/thumbnail-84.jpg" alt="" />
                        </a>
                        <div class="h6 title"><span class="ht-2"><a href="#">Great colours of  wild wind</a></span></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="portfolio-preview-5">
                        <a class="preview mouseover-1 lightbox" href="/img/thumbnail-85.jpg">
                            <img src="/img/thumbnail-85.jpg" alt="" />
                            <img src="/img/thumbnail-85.jpg" alt="" />
                        </a>
                        <div class="h6 title"><span class="ht-2"><a href="#">Great colours of  wild wind</a></span></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="portfolio-preview-5">
                        <a class="preview mouseover-1 lightbox" href="/img/thumbnail-86.jpg">
                            <img src="/img/thumbnail-86.jpg" alt="" />
                            <img src="/img/thumbnail-86.jpg" alt="" />
                        </a>
                        <div class="h6 title"><span class="ht-2"><a href="#">Great colours of  wild wind</a></span></div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="portfolio-preview-5">
                        <a class="preview mouseover-1 lightbox" href="/img/thumbnail-82.jpg">
                            <img src="/img/thumbnail-82.jpg" alt="" />
                            <img src="/img/thumbnail-82.jpg" alt="" />
                        </a>
                        <div class="h6 title"><span class="ht-2"><a href="#">Great colours of  wild wind</a></span></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="portfolio-preview-5">
                        <a class="preview mouseover-1 lightbox" href="/img/thumbnail-82.jpg">
                            <img src="/img/thumbnail-82.jpg" alt="" />
                            <img src="/img/thumbnail-82.jpg" alt="" />
                        </a>
                        <div class="h6 title"><span class="ht-2"><a href="#">Great colours of  wild wind</a></span></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="portfolio-preview-5">
                        <a class="preview mouseover-1 lightbox" href="/img/thumbnail-82.jpg">
                            <img src="/img/thumbnail-82.jpg" alt="" />
                            <img src="/img/thumbnail-82.jpg" alt="" />
                        </a>
                        <div class="h6 title"><span class="ht-2"><a href="#">Great colours of  wild wind</a></span></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="portfolio-preview-5">
                        <a class="preview mouseover-1 lightbox" href="/img/thumbnail-82.jpg">
                            <img src="/img/thumbnail-82.jpg" alt="" />
                            <img src="/img/thumbnail-82.jpg" alt="" />
                        </a>
                        <div class="h6 title"><span class="ht-2"><a href="#">Great colours of  wild wind</a></span></div>
                    </div>
                </div>
            </div>

        </div>
            </div>
