<div id="content-block">

        <div class="container-fluid">

            <div class="empty-space col-xs-b40 col-sm-b80"></div>

            <%= react_component("PortfolioTitle", {title: "Albums"}) %>
            <%= react_component("PortfolioTitle", {paragraph: "Show-case of my work "}) %>

            <div class="empty-space col-xs-b40 col-sm-b80"></div>

            <div class="row portfolio-5">
                <div class="col-sm-4">
                    <div class="portfolio-preview-5">
                        <a class="preview mouseover-1 lightbox" href="/portfolio/1">
                            <img src="/img/thumbnail-82.jpg" alt="" />
                            <img src="/img/thumbnail-82.jpg" alt="" />
                        </a>
                        <div class="h6 title"><span class="ht-2"><a href="#">Great colours of  wild wind</a></span></div>
                    </div>
                </div>
                <div class="col-sm-4">
                  <div class="portfolio-preview-5">
                      <a class="preview mouseover-1 lightbox" href="/portfolio/1">
                          <img src="/img/thumbnail-82.jpg" alt="" />
                          <img src="/img/thumbnail-82.jpg" alt="" />
                      </a>
                      <div class="h6 title"><span class="ht-2"><a href="#">Great colours of  wild wind</a></span></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="portfolio-preview-5">
                      <a class="preview mouseover-1 lightbox" href="/portfolio/1">
                          <img src="/img/thumbnail-82.jpg" alt="" />
                          <img src="/img/thumbnail-82.jpg" alt="" />
                      </a>
                      <div class="h6 title"><span class="ht-2"><a href="#">Great colours of  wild wind</a></span></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="portfolio-preview-5">
                      <a class="preview mouseover-1 lightbox" href="/portfolio/1">
                          <img src="/img/thumbnail-82.jpg" alt="" />
                          <img src="/img/thumbnail-82.jpg" alt="" />
                      </a>
                      <div class="h6 title"><span class="ht-2"><a href="#">Great colours of  wild wind</a></span></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="portfolio-preview-5">
                      <a class="preview mouseover-1 lightbox" href="/portfolio/1">
                          <img src="/img/thumbnail-82.jpg" alt="" />
                          <img src="/img/thumbnail-82.jpg" alt="" />
                      </a>
                      <div class="h6 title"><span class="ht-2"><a href="#">Great colours of  wild wind</a></span></div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="portfolio-preview-5">
                      <a class="preview mouseover-1 lightbox" href="/portfolio/1">
                          <img src="/img/thumbnail-82.jpg" alt="" />
                          <img src="/img/thumbnail-82.jpg" alt="" />
                      </a>
                      <div class="h6 title"><span class="ht-2"><a href="#">Great colours of  wild wind</a></span></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="portfolio-preview-5">
                      <a class="preview mouseover-1 lightbox" href="/portfolio/1">
                          <img src="/img/thumbnail-82.jpg" alt="" />
                          <img src="/img/thumbnail-82.jpg" alt="" />
                      </a>
                      <div class="h6 title"><span class="ht-2"><a href="#">Great colours of  wild wind</a></span></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="portfolio-preview-5">
                      <a class="preview mouseover-1 lightbox" href="/portfolio/1">
                          <img src="/img/thumbnail-82.jpg" alt="" />
                          <img src="/img/thumbnail-82.jpg" alt="" />
                      </a>
                      <div class="h6 title"><span class="ht-2"><a href="#">Great colours of  wild wind</a></span></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="portfolio-preview-5">
                      <a class="preview mouseover-1 lightbox" href="/portfolio/1">
                          <img src="/img/thumbnail-82.jpg" alt="" />
                          <img src="/img/thumbnail-82.jpg" alt="" />
                      </a>
                      <div class="h6 title"><span class="ht-2"><a href="#">Great colours of  wild wind</a></span></div>
                  </div>
                </div>
            </div>

        </div>
            </div>
