
    <div id="content-block">

        <div class="fixed-background" style="background-image: url(/img/background-2.jpg);">
            <div class="banner-shortcode">
                <div class="banner-frame border-image" style="border-image-source: url(/img/background-2_.jpg);"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="align">
                                <h1 class="h1 light">Hypnotic time of autumn falls</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="empty-space col-xs-b60 col-sm-b120"></div>
            <div class="text-center">
                <img class="thumbnail-image col-xs-b20" src="/img/thumbnail-46.jpg" alt="" />
                <h6 class="h6 col-xs-b10">Your title image</h6>
                <div class="sa middle">Et harum quidem rerum facilis est et expedita distinctio.</div>
            </div>
            <div class="empty-space empty-space col-xs-b25 col-sm-b50"></div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="text-center">
                        <img class="thumbnail-image col-xs-b20" src="/img/thumbnail-47.jpg" alt="" />
                        <h6 class="h6 col-xs-b10">Your title image</h6>
                        <div class="sa middle">Et harum quidem rerum facilis est et expedita distinctio.</div>
                    </div>
                    <div class="empty-space empty-space col-xs-b25 col-sm-b50"></div>
                </div>
                <div class="col-sm-6">
                    <div class="text-center">
                        <img class="thumbnail-image col-xs-b20" src="/img/thumbnail-48.jpg" alt="" />
                        <h6 class="h6 col-xs-b10">Your title image</h6>
                        <div class="sa middle">Et harum quidem rerum facilis est et expedita distinctio.</div>
                    </div>
                    <div class="empty-space empty-space col-xs-b25 col-sm-b50"></div>
                </div>
            </div>

                    <div class="container">

                        <div class="empty-space col-xs-b40 col-sm-b80"></div>

                        <div class="row">
                            <div class="col-md-12 text-center">
                                <article class="sa">
                                    <h3>Our Works</h3>
                                    <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium. </p>
                                </article>
                                <div class="empty-space col-xs-b25 col-sm-b50"></div>
                            </div>
                            <div class="col-md-12 text-center">
                                <div class="sorting-menu">
                                    <div class="title">All</div>
                                    <div class="toggle">
                                        <a class="active" data-filter="*"><span class="text">All</span><span class="number">184</span></a>
                                        <a data-filter=".filter-1"><span class="text">Branding</span><span class="number">34</span></a>
                                        <a data-filter=".filter-2"><span class="text">Typography</span><span class="number">25</span></a>
                                        <a data-filter=".filter-3"><span class="text">Logo</span><span class="number">18</span></a>
                                        <a data-filter=".filter-4"><span class="text">Marketing</span><span class="number">40</span></a>
                                        <a data-filter=".filter-5"><span class="text">Graphic Design</span><span class="number">67</span></a>
                                    </div>
                                </div>
                                <div class="empty-space col-xs-b25 col-sm-b50"></div>
                            </div>
                        </div>


                        <div class="sorting-container portfolio-1">
                            <div class="grid-sizer w33"></div>
                            <div class="sorting-item w33 filter-1">
                                <div class="portfolio-preview-1">
                                    <a href="/img/thumbnail-28.jpg" class="lightbox">
                                        <img class="preview" src="/img/thumbnail-28.jpg" alt="" />
                                        <span class="valign-middle portfolio-hover-1">
                                            <span class="valign-middle-content">
                                                <span class="title h4">Project title</span>
                                                <span class="description sa dark small">Branding / Typography</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="sorting-item w33 filter-2">
                                <div class="portfolio-preview-1">
                                    <a href="/img/thumbnail-29.jpg" class="lightbox">
                                        <img class="preview" src="/img/thumbnail-29.jpg" alt="" />
                                        <span class="valign-middle portfolio-hover-1">
                                            <span class="valign-middle-content">
                                                <span class="title h4">Project title</span>
                                                <span class="description sa dark small">Branding / Typography</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="sorting-item w33 filter-3">
                                <div class="portfolio-preview-1">
                                    <a href="/img/thumbnail-30.jpg" class="lightbox">
                                        <img class="preview" src="/img/thumbnail-30.jpg" alt="" />
                                        <span class="valign-middle portfolio-hover-1">
                                            <span class="valign-middle-content">
                                                <span class="title h4">Project title</span>
                                                <span class="description sa dark small">Branding / Typography</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="sorting-item w33 filter-4">
                                <div class="portfolio-preview-1">
                                    <a href="/img/thumbnail-31.jpg" class="lightbox">
                                        <img class="preview" src="/img/thumbnail-31.jpg" alt="" />
                                        <span class="valign-middle portfolio-hover-1">
                                            <span class="valign-middle-content">
                                                <span class="title h4">Project title</span>
                                                <span class="description sa dark small">Branding / Typography</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="sorting-item w33 filter-5">
                                <div class="portfolio-preview-1">
                                    <a href="/img/thumbnail-32.jpg" class="lightbox">
                                        <img class="preview" src="/img/thumbnail-32.jpg" alt="" />
                                        <span class="valign-middle portfolio-hover-1">
                                            <span class="valign-middle-content">
                                                <span class="title h4">Project title</span>
                                                <span class="description sa dark small">Branding / Typography</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="sorting-item w33 filter-1">
                                <div class="portfolio-preview-1">
                                    <a href="/img/thumbnail-33.jpg" class="lightbox">
                                        <img class="preview" src="/img/thumbnail-33.jpg" alt="" />
                                        <span class="valign-middle portfolio-hover-1">
                                            <span class="valign-middle-content">
                                                <span class="title h4">Project title</span>
                                                <span class="description sa dark small">Branding / Typography</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="sorting-item w33 filter-2">
                                <div class="portfolio-preview-1">
                                    <a href="/img/thumbnail-34.jpg" class="lightbox">
                                        <img class="preview" src="/img/thumbnail-34.jpg" alt="" />
                                        <span class="valign-middle portfolio-hover-1">
                                            <span class="valign-middle-content">
                                                <span class="title h4">Project title</span>
                                                <span class="description sa dark small">Branding / Typography</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="sorting-item w33 filter-3">
                                <div class="portfolio-preview-1">
                                    <a href="/img/thumbnail-35.jpg" class="lightbox">
                                        <img class="preview" src="/img/thumbnail-35.jpg" alt="" />
                                        <span class="valign-middle portfolio-hover-1">
                                            <span class="valign-middle-content">
                                                <span class="title h4">Project title</span>
                                                <span class="description sa dark small">Branding / Typography</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="sorting-item w33 filter-4">
                                <div class="portfolio-preview-1">
                                    <a href="/img/thumbnail-36.jpg" class="lightbox">
                                        <img class="preview" src="/img/thumbnail-36.jpg" alt="" />
                                        <span class="valign-middle portfolio-hover-1">
                                            <span class="valign-middle-content">
                                                <span class="title h4">Project title</span>
                                                <span class="description sa dark small">Branding / Typography</span>
                                            </span>
                                        </span>
                                    </a>
                                </div>
                            </div>

                        </div>
            <div class="empty-space col-xs-b60 col-sm-b120"></div>
        </div>

        <div class="row m0">
            <div class="col-sm-4">
                <a class="thumbnail-shortcode-3 mouseover-1" href="#">
                    <img src="/img/thumbnail-56.jpg" alt="" />
                    <img src="/img/thumbnail-56.jpg" alt="" />
                    <span class="content">
                        <span class="sl light">Fashion / Photoshooting</span>
                        <span class="title h4 light">Great colours of  wild wind</span>
                    </span>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="thumbnail-shortcode-3 mouseover-1" href="#">
                    <img src="/img/thumbnail-57.jpg" alt="" />
                    <img src="/img/thumbnail-57.jpg" alt="" />
                    <span class="content">
                        <span class="sl light">Fashion / Photoshooting</span>
                        <span class="title h4 light">Great colours of  wild wind</span>
                    </span>
                </a>
            </div>
            <div class="col-sm-4">
                <a class="thumbnail-shortcode-3 mouseover-1" href="#">
                    <img src="/img/thumbnail-58.jpg" alt="" />
                    <img src="/img/thumbnail-58.jpg" alt="" />
                    <span class="content">
                        <span class="sl light">Fashion / Photoshooting</span>
                        <span class="title h4 light">Great colours of  wild wind</span>
                    </span>
                </a>
            </div>
        </div>
        </div>
